@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400");

body {
    background: peachpuff;
    font-family:'Inter', 'Helvetica Neue', Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 64px;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    /* border: 1px solid red; */
}

a {
    text-decoration: none;
    color: black;
}

li {
    font-size: 20px;
    list-style: none;
    padding: none;
    margin: none;
}

#header {
    margin: 0 2em;
    border-bottom: 3px solid black;
}

#main {
    display: flex;
}

#nav {
    font-size: 18px;
    font-weight: 700;
    padding-top: 3em;
    /* border: 1px solid purple; */
    justify-content: stretch;
    display: flex;
}

#nav ul {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding-left: 2em;
    /* justify-content: stretch; */
    min-width: 200px;
    /* border: 1px solid red; */
}

#nav li {
    border-bottom: 1px solid black;
    display: flex;
    height: 18%;

    /* removed when selected */
    padding-bottom: 2px;

    justify-content: right;
    align-items: flex-end;

}

#nav li.selected {
    padding-bottom: 0px;
    border-bottom-width: 3px;
}


#content {
    max-width: 600px;
    min-width: 400px;
    padding: 3em;
    /* border: 1px solid black; */

}

#content h2 {
    text-align: right;
    font-style: italic;
    margin-top: 2em;
}

#footer ul {
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

#footer li {
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;

}

#footer li:hover {
    border-bottom: 3px solid black;
}

#footer img {
    height: 50px;
}