body {
    background: peachpuff;
    font-family:'Helvetica Neue', Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    padding: none;
    margin: none;
}

#main {
    display: flex;
    border: 1px solid red;
    padding: 2em;

}

#nav {
    font-size: 18px;
    font-weight: 700;
    border: 1px solid purple;
}

#nav ul {
    padding-left: 4em;
    min-width: 150px;
    display: flex;
    border: 1px solid red;

    flex-direction: column;
    margin: 0px;
}

#nav li {
    border: 1px solid black;
    min-height: 100px;
    
    display: flex;
    justify-content: right;
    align-items: center;
}
#header {
    margin: 0 4em;
    padding-top: 2em;
    border-bottom: 2px solid black;
}

#content {
    max-width: 600px;
    /* min-width: 400px; */
    margin: auto;
    padding: 2em;
    border: 1px solid black;
}

#content h2 {
    text-align: right;
    font-style: italic;
    margin-top: 2em;
}

#footer ul {
    margin: 0 auto;
    display: flex;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

#footer li {
    display: flex;
    align-items: center;
    border-bottom: 3px solid transparent;

}

#footer li:hover {
    border-bottom: 3px solid black;
}

#footer img {
    height: 50px;
}